BODY
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 0.8em;
    MARGIN-LEFT: 0px;
    COLOR: white;
    MARGIN-RIGHT: 0px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: black
}
TD
{
    FONT-SIZE: 0.8em;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
TEXTAREA
{
    FONT-SIZE: 0.8em;
    FONT-FAMILY: Verdana, Arial
}
.DashTitleArea
{
    BORDER-RIGHT: #666699 1px solid;
    BORDER-TOP: #666699 1px solid;
    BORDER-LEFT: #666699 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #666699 1px solid;
    BACKGROUND-COLOR: #666699
}
.DashTitle
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 1.25em;
    WIDTH: 100px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.DashTitleImage
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(topbanner.gif);
    WIDTH: 255px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 40px
}
.DashTitleGroup
{
    BACKGROUND-COLOR: black
}
.DashTitleSpacer
{
    FILTER: Alpha(Opacity=100, finishX=75, finishopacity=0, style=1)
}
.DashCommandArea
{
    PADDING-RIGHT: 9px;
    COLOR: white;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: right
}
A.DashCommand:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A.DashCommand:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A.DashCommand:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.DashNavArea
{
    COLOR: black;
    BORDER-BOTTOM: #666699 1px solid;
    BACKGROUND-COLOR: #333666
}
.DashNavDashArea
{
    BORDER-RIGHT: #666699;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #666699;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #666699 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #666699;
    FONT-FAMILY: verdana
}
.DashNavCurDashArea
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #666699 1px solid;
    COLOR: white;
    PADDING-TOP: 2px;
    FONT-FAMILY: verdana
}
.DashNavDropDownArea
{
    PADDING-RIGHT: 15px;
    BACKGROUND-POSITION: left center;
    BACKGROUND-IMAGE: url(dropdownwhite.gif);
    BACKGROUND-REPEAT: no-repeat
}
.DashNavCurDropDownArea
{
    PADDING-RIGHT: 15px;
    BACKGROUND-POSITION: left center;
    BACKGROUND-IMAGE: url(dropdownwhite.gif);
    BACKGROUND-REPEAT: no-repeat
}
.DashNavLink:link
{
    COLOR: white;
    TEXT-DECORATION: none
}
.DashNavLink:visited
{
    COLOR: white;
    TEXT-DECORATION: none
}
.DashNavLink:hover
{
    COLOR: gainsboro
}
.DashNavUpArea
{
    PADDING-RIGHT: 25px;
    BACKGROUND-POSITION: center center;
    BACKGROUND-IMAGE: url(up.gif);
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat
}
.DashNavChildMenu
{
    BORDER-RIGHT: #9faccb 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #9faccb 1px solid;
    PADDING-LEFT: 4px;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #9faccb 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #9faccb 1px solid;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #666699
}
.DashNavChildMenuItem
{
    FONT-SIZE: 0.68em
}
.DashLayoutTable
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 6px;
    WIDTH: 100%;
    PADDING-TOP: 6px
}
.DashZoneTop
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 100%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneBottom
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 100%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneLeft
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneCenter
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneRight
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashPartFrame
{
    BORDER-RIGHT: #9faccb 1px solid;
    BORDER-TOP: #9faccb 1px solid;
    BORDER-LEFT: #9faccb 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #9faccb 1px solid
}
.DashPartTitle
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.8em;
    PADDING-BOTTOM: 2px;
    COLOR: white;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #666699;
    TEXT-ALIGN: left
}
.DashPartCommandsArea
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    BACKGROUND-COLOR: #666699;
    TEXT-ALIGN: right
}
.DashPartSpacing
{
    HEIGHT: 6px
}
.DashPartBody
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    COLOR: white;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: black
}
.UserShadedRegion
{
    BACKGROUND-COLOR: #333366
}
.UserCaption
{
    COLOR: black;
    BACKGROUND-COLOR: #9faccb
}
A:link
{
    COLOR: #ffff99;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #ffff99;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ffff99;
    TEXT-DECORATION: none
}
.TreeNode
{
    FONT-SIZE: 1.2em;
    COLOR: black;
    FONT-FAMILY: ו
}
.TreeNodeSelected
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 1.2em;
    COLOR: black;
    FONT-FAMILY: ו
}

.DashTitleTable
{
    BACKGROUND-COLOR: white
}
