BODY
{
    FONT-SIZE: 0.8em;
    MARGIN: 0px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: peachpuff
}
TD
{
    FONT-SIZE: 0.8em;
    FONT-FAMILY: Verdana, Arial
}
TEXTAREA
{
    FONT-SIZE: 0.8em;
    FONT-FAMILY: Verdana, Arial
}
.DashTitleArea
{
    WIDTH: 100%;
    BACKGROUND-COLOR: #9999cc
}
.DashTitle
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 1.25em;
    WIDTH: 100px;
    COLOR: white;
    FONT-FAMILY: Verdana
}
.DashTitleImage
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(topbanner.gif);
    WIDTH: 255px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 40px
}
.DashTitleGroup
{
    BACKGROUND-COLOR: lightsalmon
}
.DashTitleSpacer
{
    FILTER: Alpha(Opacity=100, finishX=75, finishopacity=0, style=1)
}
.DashCommandArea
{
    PADDING-RIGHT: 9px;
    COLOR: white;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: right
}
A.DashCommand:link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A.DashCommand:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
A.DashCommand:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 1em;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.DashNavArea
{
    COLOR: black;
    BACKGROUND-COLOR: blanchedalmond
}
.DashNavDashArea
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: peachpuff 1px solid;
    PADDING-TOP: 2px;
    FONT-FAMILY: verdana
}
.DashNavCurDashArea
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: peachpuff 1px solid;
    COLOR: black;
    PADDING-TOP: 2px;
    FONT-FAMILY: verdana
}
.DashNavDropDownArea
{
    PADDING-RIGHT: 15px;
    BACKGROUND-POSITION: left center;
    BACKGROUND-IMAGE: url(dropdown.gif);
    BACKGROUND-REPEAT: no-repeat
}
.DashNavCurDropDownArea
{
    PADDING-RIGHT: 15px;
    BACKGROUND-POSITION: left center;
    BACKGROUND-IMAGE: url(dropdown.gif);
    BACKGROUND-REPEAT: no-repeat
}
.DashNavLink:link
{
    COLOR: tomato;
    TEXT-DECORATION: none
}
.DashNavLink:visited
{
    COLOR: tomato;
    TEXT-DECORATION: none
}
.DashNavLink:hover
{
    COLOR: slategray
}
.DashNavUpArea
{
    PADDING-RIGHT: 25px;
    BACKGROUND-POSITION: center center;
    BACKGROUND-IMAGE: url(up.gif);
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat
}
.DashNavChildMenu
{
    BORDER-RIGHT: burlywood 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: burlywood 1px solid;
    PADDING-LEFT: 4px;
    FONT-SIZE: 0.68em;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: burlywood 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: burlywood 1px solid;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: blanchedalmond
}
.DashNavChildMenuItem
{
    FONT-SIZE: 0.68em
}
.DashLayoutTable
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 6px;
    WIDTH: 100%;
    PADDING-TOP: 6px
}
.DashZoneTop
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 100%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneBottom
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 100%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneLeft
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneCenter
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashZoneRight
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.DashPartFrame
{
    BORDER-RIGHT: burlywood 1px solid;
    BORDER-TOP: burlywood 1px solid;
    BORDER-LEFT: burlywood 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: burlywood 1px solid
}
.DashPartTitle
{
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.8em;
    PADDING-BOTTOM: 2px;
    COLOR: tomato;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: navajowhite;
    TEXT-ALIGN: left
}
.DashPartCommandsArea
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    BACKGROUND-COLOR: navajowhite;
    TEXT-ALIGN: right
}
.DashPartSpacing
{
    HEIGHT: 6px
}
.DashPartBody
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: cornsilk
}
.UserShadedRegion
{
    BACKGROUND-COLOR: blanchedalmond
}
.UserCaption
{
    COLOR: black;
    BACKGROUND-COLOR: lavender
}
.TreeNode
{
    FONT-SIZE: 1.2em;
    COLOR: black;
    FONT-FAMILY: ו
}
.TreeNodeSelected
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 1.2em;
    COLOR: black;
    FONT-FAMILY: ו
}
