body { color: #000000; background-color: #ffffff; }
Table{
  font-size:10.8pt;
  color:black;
}
A:link{
  text-decoration:none;
  color:black;
}
A:visited{
  text-decoration:none;
  color:black;
}
A:hover{
  text-decoration:none;
}
.standardBtn{
  width:60px;
  height:20px;
  padding-top:2px;
  border:1px #939eb2 solid;
  background-image:url('/FlowEngineWeb/workflow/Images/standardBtn_bg.gif');
  background-repeat:repeat-x;
  text-align:center;
  cursor:hand;
  font-size:10.8pt;
}
.standardInput{
  height:20px;
  border:1px #253e7a solid;
}
.DialogOuter{
  background-color:#c2ceeb;
}
.DialogInner{
  background-color:#e0e7f8;
}
.FrameList_GroupAndDeptDiv{
  position:relative;
  top:5px;
  BORDER-BOTTOM: #eeeeee 2px solid;
  BORDER-LEFT: #333366 2px solid;
  BORDER-RIGHT: #eeeeee 2px solid;
  BORDER-TOP: #333366 2px solid;
  OVERFLOW-Y: auto;
  OVERFLOW-X: auto;
  WIDTH: 187px;
  HEIGHT: 355px;
  BACKGROUND-COLOR: white;
  font-size:10.8pt;
}
/*------------------以上部分每个项目一般都通用，以下部分则为各个项目的特殊定义---------------------*/
.iFrameStyle
{
  width:100%;
  height:500px;
}
.AdvancedSearch_SearchUtilDIV
{
  position:relative;
  width:530px;
  height:110px;
  top:10px;
  left:10px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  overflow:no;
  padding:10px;
}

.AdvancedSearchEx_SearchUtilDIV
{
  position:relative;
  width:530px;
  height:80px;
  top:10px;
  left:10px;
  border-bottom:2px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:2px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #D2DFFF;
  overflow:no;
  padding:10px;
}

.SetAgent_setItem1
{
  width:420px;
  height:30px;
  text-align:left;
}

.SetAgent_UtilDIV
{
  width:400px;
  height:190px;
  background-color: #c2ceeb;
  padding:10px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
}

.SetAgent_Util1DIV
{
  width:280px;
  height:190px;
  padding:10px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #c2ceeb;
}

.SetAgent_Util2DIV
{
  width:220px;
  height:190px;
  background-color: #c2ceeb;
  padding:10px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
}

.SetAgent_Table
{
  background-color: #e0e7f8;
}

.NewAttachList_OuterDIV
{
  position:relative;
  width:720px;
  height:328px;
  top:0px;
  left:0px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  padding:10px;
  overflow:no;
}

.NewAttachList_AccListDIV
{
  position:relative;
  width:698px;
  height:285px;
  background-color:white;
  overflow:auto;
}

.AttachList_OuterDIV
{
  position:relative;
  width:400px;
  height:200px;
  top:0px;
  left:0px;
  border-bottom:2px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:2px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #D2DFFF;
  padding:10px;
  overflow:no;
}

.AttachList_AccListDIV
{
  position:relative;
  top:-2px;
  width:377px;
  height:180px;
  background-color:white;
  overflow:auto;
  z-index:-1;
}

.AttachList_InputDiv
{
  BACKGROUND-COLOR: #e0e7f8;
  border-left:#253e7a 1px solid;
  border-right:#253e7a 1px solid;
  border-bottom:#253e7a 1px solid;
}

.AttachList_Td
{
  border-top:#253e7a 1px solid;
  border-left:#253e7a 1px solid;
  border-bottom:#253e7a 1px solid;
  height:22px;
}

.AttachList_contentTd
{
  padding-left:5px;
  border-bottom:#253e7a 1px solid;
  cursor:hand;
  word-wrap:break-word;
}

.StepDesc_outerDIV
{
  position:relative;
  width:460px;
  height:250px;
  top:0px;
  left:0px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  padding:10px;
  overflow:no;
}

.StepDesc_innerDIV
{
  position:relative;
  top:5px;
  width:435px;
  height:205px;
  border-top:1px solid #333366;
  border-bottom:1px solid #eeeeee;
  border-left:1px solid #333366;
  border-right:1px solid  #eeeeee;
  background-color:white;
  overflow:auto;
}

.SelectList_OuterDIV
{
  position:relative;
  width:450px;
  height:400px;
  top:0px;
  left:0px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  padding:10px;
  overflow:no;
}

.SelectList_ContentDIV
{
  position:relative;
  top:-2px;
  width:427px;
  height:180px;
  background-color:white;
  overflow:auto;
  z-index:-1;
}

.BtnColor
{
  background-color:#c2ceeb;
}

.SelectButton_OuterDIV
{
  position:relative;
  width:450px;
  height:200px;
  top:0px;
  left:0px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  padding:10px;
  overflow:no;
}

.SelectButton_ContentDIV
{
  position:relative;
  top:-2px;
  width:427px;
  height:180px;
  background-color:white;
  overflow:auto;
  z-index:-1;
}

.TaskListTree2_InnerDiv
{
  BACKGROUND-COLOR: #D2DFFF;
}

.TaskListTree2_TreeDiv
{
  position:relative;
  BORDER-BOTTOM: #eeeeee 2px solid;
  BORDER-LEFT: #333366 2px solid;
  BORDER-RIGHT: #eeeeee 2px solid;
  BORDER-TOP: #333366 2px solid;
  OVERFLOW-Y: auto;
  OVERFLOW-X: auto;
  WIDTH: 140px;
  HEIGHT: 100%;
  BACKGROUND-COLOR: white;
  font-size:10.8pt;
}

.UserInfoiFrm_OuterDIV
{
  position:absolute;
  width:580px;
  top:30px;
  left:8px;
  border-bottom:1px solid #333366;
  border-top:1px solid white;
  border-right:1px solid #333366;
  border-left:1px solid  #333366;
  background-color: #e0e7f8;
  padding:15px;
  overflow:no;
  Z-INDEX: -1;
}

.UserInfoiFrm_OutTag1DIV
{
  BORDER-LEFT: #000000 1px solid;
  BORDER-RIGHT: #000000 1px solid;
  BORDER-TOP: #000000 1px solid;
  POSITION: absolute;
  LEFT: 8px;
  TOP: 8px;
  WIDTH: 80px;
  HEIGHT: 20px;
  BORDER-LEFT: #000000 1px solid;
  BORDER-BOTTOM: #000000 0px solid;
}

.UserInfoiFrm_OutTag2DIV
{
  BORDER-RIGHT: #000000 1px solid;
  BORDER-TOP: #000000 1px solid;
  POSITION: absolute;
  LEFT: 88px;
  TOP: 8px;
  WIDTH: 80px;
  HEIGHT: 20px;
  BORDER-LEFT: #000000 1px solid;
  BORDER-BOTTOM: #000000 0px solid;
}

.UserInfoiFrm_OnTagsDIV
{
  BORDER-RIGHT: #666666 3px solid;
  BORDER-TOP: #ffffff 2px solid;
  PADDING-TOP: 3px;
  BACKGROUND: #e0e7f8;
  POSITION: relative;
  LEFT: 0px;
  TOP: 0px;
  WIDTH: 78px;
  HEIGHT: 22px;
  BORDER-LEFT: #ffffff 2px solid;
  BORDER-BOTTOM: #666666 0px solid;
  Z-INDEX: 1;
  CURSOR: hand;
  FONT-WEIGHT:bold;
}

.UserInfoiFrm_OffTagsDIV
{
  BORDER-RIGHT: #666666 0px solid;
  BORDER-TOP: #ffffff 1px solid;
  PADDING-TOP: 3px;
  BACKGROUND: #e0e7f8;
  POSITION: relative;
  LEFT: 0px;
  TOP: 0px;
  WIDTH: 78px;
  HEIGHT: 20px
  BORDER-LEFT: #ffffff 1px solid;
  BORDER-BOTTOM: #666666 0px solid;
  CURSOR: hand;
}

.UserInfoiFrm_BottomUtilDIV
{
  position:absolute;
  top:340px;
  width:590px;
}

.Urge_BottomUtilDIV
{
  position:absolute;
  top:387px;
  width:590px;
}

.FlowList_ListDIV
{
  position:relative;
  top:10px;
  width:300px;
  height:300px;
  overflow:auto;
}

.FlowTrace2_TitleTable
{
  background-color:#d6d6d6;
  table-layout:fixed;
}

.FlowTrace2_TipsTd
{
  padding-top:5px;
  padding-left:5px;
  padding-bottom:5px;
  padding-right:150px;
  text-align: left;
  height: 70px;
  background-attachment: fixed;
  word-wrap:break-word;
  background-color: #CDE2FA;
  background-image: url(/FlowEngineWeb/workflow/Images/flowtrace2_titlebg.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

.FlowTrace2_TitleleftTd
{
  BORDER-TOP: white 1px solid;
  text-align:center;
  padding-top:5px;
  padding-bottom:3px;
}

.FlowTrace2_Titletd
{
  BORDER-TOP: white 1px solid;
  BORDER-LEFT: white 1px solid;
  text-align:center;
  padding-top:5px;
  padding-bottom:3px;
}

.FlowTrace2_Contenttd
{
  BORDER-TOP: white 1px solid;
  BORDER-LEFT: white 1px solid;
  TEXT-ALIGN: center;
  word-wrap:break-word;
  padding-top:5px;
  padding-bottom:3px;
}

.FlowTrace2_Contentlefttd
{
  BORDER-TOP: white 1px solid;
  TEXT-ALIGN: center;
  padding-top:5px;
  padding-bottom:3px;
}

.FlowTrace2_StartTr
{
  background-color:#DBFF8E;
  COLOR: #666699;
}

.FlowTrace2_CheckTr
{
  background-color:#FFECB3;
  COLOR: #4C6F99;
}

.FlowTrace2_NoteTr
{
  background-color:#A2C7FF;
  COLOR: #F5FFEC;
}

.FlowTrace2_FinishTr
{
  background-color:#FFBFBF;
  COLOR:
}

.FlowTrace2_SubflowTr
{
  background-color:#D9ECFF;
}
.AdvancedSearchBtn
{
  position:relative;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background-color:rgb(77,163,248);
  font-size:10.8pt;
  color:black;
}
.FlowList_Table
{
  BORDER-RIGHT: #a0a0a0 1px solid;
  BORDER-TOP: #a0a0a0 1px solid;
  BORDER-LEFT: #a0a0a0 1px solid;
  BORDER-BOTTOM: #a0a0a0 1px solid;
}
.FlowList_Line1Tr
{
  background-color:#0080c0;
}
.FlowList_Line2Tr
{
  background-image: url(/FlowEngineWeb/workflow/Images/line_bg.gif);
}
.FlowList_TitleTd
{
  padding:5px;
  background-color:#d0e4f9;
  font-weight:bold;
}
.FlowList_ContentTr
{
  background-color:#F7F3F7;
}
.FlowList_ContentTdDown
{
  cursor:hand;
  background-color:#d4d0c8;
  border-top:1px solid #333366;
  border-left:1px solid #333366;
  border-bottom:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
  WORD-WRAP:break-word;
}
.FlowList_ContentTdOver
{
  cursor:hand;
  background-color:#d4d0c8;
  border-bottom:1px solid #333366;
  border-right:1px solid #333366;
  border-top:1px solid #e0e0e0;
  border-left:1px solid #e0e0e0;
  WORD-WRAP:break-word;
}
.FlowList_ContentTdOut
{
  cursor:hand;
  background-color:#F7F3F7;
  border-bottom:1px solid #F7F3F7;
  border-right:1px solid #F7F3F7;
  border-top:1px solid #F7F3F7;
  border-left:1px solid #F7F3F7;
  WORD-WRAP:break-word;
}
.FlowList_ContentTable
{
  background-color:white;
  TABLE-LAYOUT:fixed;
}
.getClassiFrm_TypesDiv
{
  position:absolute;
  top:10px;
  left:10px;
  width:475px;
  height:230px;
  padding:10px;
  border-bottom:1px solid #333366;
  border-right:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-left:1px solid #eeeeee;
  background-color:#e0e7f8;
}
.getClassiFrm_ListDiv
{
  position:relative;
  top:-1px;
  border:1px solid gray;
  overflow:auto;
  width:450px;
  height:155px;
  background-color:white;
}
.getClassiFrm_BtnDiv
{
  position:absolute;
  top:247px;
  left:10px;
  width:475px;
  height:20px;
  text-align:right;
}
.getClassiFrm_headTd
{
  background-color:#e0e7f8;
  border-top:1px #253e7a solid;
  border-left:1px #253e7a solid;
  border-bottom:1px #253e7a solid;
  height:22px;
}
.getClassiFrm_NormalTr
{
  cursor:hand;
  background-color:white;
}
.getClassiFrm_SelectedTr
{
  cursor:hand;
  background-color:#fbf897;
}
.ListByType_TreeDiv
{
  position:relative;
  BORDER: #333366 1px solid;
  OVERFLOW: auto;
  WIDTH: 135px;
  HEIGHT: 520px;
  BACKGROUND-COLOR: white;
  font-size:10.8pt;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  background-image: url(/FlowEngineWeb/workflow/Images/left_bg.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.ListByType_LineTd
{
  background-image: url(/FlowEngineWeb/workflow/Images/line_bg_new.gif);
  background-repeat: repeat-x;
  background-position: center center;
  height:2px;
}
.FieldList_ListDiv
{
  position:relative;
  top:-1px;
  border:1px solid gray;
  overflow:auto;
  width:473px;
  height:205px;
  background-color:white;
}
.Sign_OuterDIV
{
  width:500px;
  height:270px;
  border-bottom:1px solid #333366;
  border-top:1px solid #eeeeee;
  border-right:1px solid #333366;
  border-left:1px solid  #eeeeee;
  background-color: #e0e7f8;
  padding:15px;
}
.SubFlow_ListDiv
{
  position:relative;
  top:-1px;
  border:0px solid gray;
  overflow:auto;
  width:475px;
  height:235px;
  background-color:white;
  z-index:-1;
}
.SubFlow_BtnDiv
{
  position:absolute;
  top:298px;
  left:10px;
  width:474px;
  height:20px;
  text-align:right;
}
.NoteSms_Trbg{
  background-image: url(/FlowEngineWeb/workflow/Images/banner_bg.gif);
  background-repeat: repeat-x;
  height: 100px;
}
.NoteSms_Tdbg{
  padding-top:5px;
  padding-bottom:3px;
  font-weight:bold;
  text-align:center;
  color: #324E97;
  background-image: url(/FlowEngineWeb/workflow/Images/head_bg.gif);
  background-repeat: repeat-x;
}
.NoteSms_bg1{
  padding-top:6px;
  padding-left:5px;
  padding-bottom:3px;
  vertical-align:top;
  background-color: #E3E8F3;
}
.NoteSms_allchoice{
  border-right:1px solid #ffffff;
  border-bottom:1px solid #ffffff;
  background-color:#FBCB4B;
}
.NoteSms_bg2{
  height: 28px;
  padding-top:3px;
  border-top:1px dashed #2650A6;
  border-bottom:1px dashed #2650A6;
  background-color: #FEF8DD;
}
.searchTable{
  border-bottom:1px #d4d4cc solid;
  background-image:url('../Images/search_bg.gif');
  background-repeat:no-repeat;
  background-position:top left;
  background-color:#ffffff;
}
.searchUtil{
  border-bottom:1px #d4d4cc solid;
  background-image:url('../Images/search_bg.gif');
  background-repeat:no-repeat;
  background-position:top left;
}
.searchUtil_input{
  width:120px;
  height:22px;
  border:1px #859bb5 solid;
}
.TextUtil_input{
  width:240px;
  height:22px;
  border:1px #859bb5 solid;
}
.DateUtil_input{
  width:80px;
  height:22px;
  border:1px #859bb5 solid;
}
.AreaUtil_input{
  border:1px #859bb5 solid;
}
.searchUtil_select{
  width:120px;
  height:22px;
}
.search_word
{
  text-align:right;
  padding-right:2px;
  padding-top:2px;
  padding-bottom:1px;
}

.Btn_common{
	width:55px;
	height:20px;
	padding-top:4px;
	padding-left: 0px;
	border:1px #939EB2 solid;
	text-align:center;
	background-image:url('../Images/Btn_united_bg.gif');
	cursor:hand;
	font-size: 9pt;
}
.Chk_common{
  width:18px;
  height:18px;
  padding-top:3px;
  border-right:1px #ffffff solid;
  border-bottom:1px #ffffff solid;
  text-align:center;
  background-color:white;
  background-image:url('../Images/Btn_united_bg.gif');
  cursor:hand;
}
.TaskList_Table{
  background-color:#f4f2f2;
}
.tableLine{
  border:#777777 solid;
  border-width:1 0 0 1
}
.tdline{
  border:#777777 solid;
  border-width:0 1 1 0;
 background-color:#EFEEE0;
}
.headline-text { color: #000000;}
.headline-bg { background-color: #99ccff;}
.content-text { color: #000000;}
.content-bg { background-color: #f2f8ff;}
.boarder { background-color: #0099cc;}
textarea {
  border-width: 1;
  border-color: #000000;
  background-color: #EFEFEF;
  font-family: 宋体;
  font-size: 9pt;
  font-style: bold;
}
select {
  border-width: 1;
  border-color: #000000;
  background-color: #EFEFEF;
  font-family: 宋体;
  font-size: 9pt;
  font-style: bold;
}