/* empty stylesheet */
/* Set the selection colors for all widgets. */

QToolButton {
background-color: qlineargradient(background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(236, 241, 245, 255), stop:0.536723 rgba(236, 241, 245, 255), stop:1 rgba(255, 255, 255, 255));
    border-width: 0px;
    border-color: rgb(150, 194, 219);
    border-style: solid;
    border-radius: 5;
    padding: 1px;
font: 13pt;
color: rgb(7, 100, 143);
}
QToolButton:hover {
background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(214, 240, 253, 255), stop:0.536723 rgba(216, 239, 253, 255), stop:1 rgba(255, 255, 255, 255));
    border-width: 3px;
    border-color: rgb(0, 113, 173);
    border-style: solid;
    border-radius: 5;
    padding: 2px;
font: 13pt;
color: rgb(7, 100, 143);
}
QToolButton:pressed {
background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(214, 240, 253, 255), stop:0.536723 rgba(216, 239, 253, 255), stop:1 rgba(255, 255, 255, 255));
    border-width: 3px;
    border-color: rgb(0, 113, 173);
    border-style: solid;
    border-radius: 5;
    padding: 2px;
font: 13pt;
color: rgb(7, 100, 143);
    padding-left: 5px;
    padding-top: 5px;
}
QPushButton {
background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(236, 241, 245, 255), stop:0.536723 rgba(236, 241, 245, 255), stop:1 rgba(255, 255, 255, 255));
    border-width: 1px;
    border-color: rgb(150, 194, 219);
    border-style: solid;
    border-radius:2;
    padding: 2px; 
    font: 13pt;
    color: rgb(7, 100, 143);
}
QPushButton:hover {
background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(214, 240, 253, 255), stop:0.536723 rgba(216, 239, 253, 255), stop:1 rgba(255, 255, 255, 255));
    border-width: 3px;
    padding: 2px;
    font: 13pt;
    color: rgb(7, 100, 143);
}
QPushButton:pressed {
background-color: qlineargradient(spread:pad, x1:0.520599, y1:1, x2:0.508, y2:0.142, stop:0 rgba(255, 255, 255, 255), stop:0.0564972 rgba(214, 240, 253, 255), stop:0.536723 rgba(216, 239, 253, 255), stop:1 rgba(255, 255, 255, 255));
    border-color: rgb(0, 73, 173);
    font: 13pt ;
    padding-left: 3px;
    padding-top: 3px;
}
QRadioButton,QLabel {
font: 75 12pt;
color: rgb(4, 30, 103);
}

QWidget#hostpage QWidget {
font: 14pt "ËÎÌו";
border-color: rgb(150 194,219);
background-color: rgb(231, 240, 245);
}



