BODY
{
}
.Node
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none
}
.b
{
    FONT-SIZE: 12px;
    COLOR: black;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: "宋体", "宋体_GB2312";
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
.b:active
{
    FONT: bolder 9pt 宋体;
    COLOR: black;
    TEXT-DECORATION: none
}
.Node_Select
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none
}
.Node_Function
{
    FONT-SIZE: 9pt;
    COLOR: cornflowerblue;
    FONT-FAMILY: 宋体;
    TEXT-DECORATION: none
}
