BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #dee3e7; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: ו; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: white
}
TD {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: top; COLOR: black; TEXT-ALIGN: left
}
.standardBtn {
	BORDER-RIGHT: #939eb2 1px solid; BORDER-TOP: #939eb2 1px solid; BACKGROUND-IMAGE: url(/NewTree/Images/standardBtn_bg.gif); BORDER-LEFT: #939eb2 1px solid; WIDTH: 60px; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #939eb2 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.outerFrame {
	BACKGROUND-COLOR: #c2ceeb
}
.innerFrame {
	BACKGROUND-COLOR: #e0e7f8
}
